{%- if site.preferences.search.enabled -%}
    <div class="search-container">
        <input class="search-input" type="text" placeholder="Tìm bài viết, ghi chú..." id="search-input" autocomplete="off">
        <div id="search-results" class="search-results"></div>
    </div>
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/Search.js' | relative_url }}" data-search-json="{{ '/SearchData.json' | relative_url }}"></script>
{%- endif -%}
